{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "rules": {
        "jquery": true,
        "browser": true,
        "semi" : 2,
        "indent": "error"
    }
}